<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Create new listing</title>
    <link type="text/css" rel="stylesheet" href="/style.css">
</head>
<header>
    <%- include("./partials/navbar.ejs", { loggedInUserName: loggedInUserName }) %>
</header>

<body>
    <h1>New listing</h1>
    <article class="flexbox">
        <form method="post" action="/routes/listings">
            <p>
                <% if (carMakeData) { %>
                <label name="makeLabel" id="makeLabel">Car make:</label>
                <select name="make" id="make" required>
                    <% carMakeData.forEach(d => { %>
                    <option name=" <%= d.name %> "> <%= d.value %> </option>
                    <% }) %>
                </select>
                <% } %>
            </p>
            <p>
                <label name="modelLabel" id="modelLabel">Car model: </label>
                <input type="text" name="model" id="model" required />
            </p>
            <p>
                <label name="fuelLabel" id="fuelLabel">Fuel: </label>
                <select name="fuel" id="fuel" required>
                    <option value="">Choose!</option>
                    <option value="petrol">Petrol</option>
                    <option value="diesel">Diesel</option>
                    <option value="hybrid">Hybrid</option>
                    <option value="petrol-electric">&nbsp;&nbsp;Petrol/electric</option>
                    <option value="diesel-electro">&nbsp;&nbsp;Diesel/electric</option>
                    <option value="petrol-gas">Petrol/Gas</option>
                    <option value="LPG-petrol">&nbsp;&nbsp;LPG/petrol</option>
                    <option value="CNG-petrol">&nbsp;&nbsp;CNG/petrol</option>
                    <option value="diesel-gas">Diesel/Gas</option>
                    <option value="LPG-diesel">&nbsp;&nbsp;LPG/diesel</option>
                    <option value="CNG-diesel">&nbsp;&nbsp;CNG/diesel</option>
                    <option value="electric">Electric</option>
                    <option value="etanol">Etanol</option>
                    <option value="biodiesel">Biodiesel</option>
                    <option value="hidrogen-electric">Hidrogen/electric</option>
                </select>
            </p>
            <p>
                <label name="shifterLabel" id="shifterLabel">Shifter: </label>
                <select name="shifter" id="shifter" required>
                    <option value="">Choose!</option>
                    <option value="A0">automatic gearshift</option>
                    <option value="A3">&nbsp;&nbsp;automatic (3 speeds) gearshift</option>
                    <option value="A4">&nbsp;&nbsp;automatic (4 speeds) gearshift</option>
                    <option value="A5">&nbsp;&nbsp;automatic (5 speeds) gearshift</option>
                    <option value="A6">&nbsp;&nbsp;automatic (6 speeds) gearshift</option>
                    <option value="A7">&nbsp;&nbsp;automatic (7 speeds) gearshift</option>
                    <option value="A8">&nbsp;&nbsp;automatic (8 speeds) gearshift</option>
                    <option value="A9">&nbsp;&nbsp;automatic (9 speeds) gearshift</option>
                    <option value="A10">&nbsp;&nbsp;automatic (10 speeds) gearshift</option>
                    <option value="F0">semiautomatic gearshift</option>
                    <option value="V0">stepless automatic gearshift</option>
                    <option value="M0">manual gearshift</option>
                    <option value="M3">&nbsp;&nbsp;manual (3 speeds) gearshift</option>
                    <option value="M4">&nbsp;&nbsp;manual (4 speeds) gearshift</option>
                    <option value="M5">&nbsp;&nbsp;manual (5 speeds) gearshift</option>
                    <option value="M6">&nbsp;&nbsp;manual (6 speeds) gearshift</option>
                    <option value="M7">&nbsp;&nbsp;manual (7 speeds) gearshift</option>
                    <option value="S0">sequential gearshift</option>
                    <option value="S4">&nbsp;&nbsp;sequential (4 speeds) gearshift
                    </option>
                    <option value="S5">&nbsp;&nbsp;sequential (5 speeds) gearshift
                    </option>
                    <option value="S6">&nbsp;&nbsp;sequential (6 speeds) gearshift
                    </option>
                    <option value="S7">&nbsp;&nbsp;sequential (7 speeds) gearshift
                    </option>
                    <option value="S8">&nbsp;&nbsp;sequential (8 speeds) gearshift
                    </option>
                    <option value="T0">tiptronic gearshift</option>
                    <option value="T4">&nbsp;&nbsp;automatic (4 speeds tiptronic) gearshift
                    </option>
                    <option value="T5">&nbsp;&nbsp;automatic (5 speeds tiptronic) gearshift
                    </option>
                    <option value="T6">&nbsp;&nbsp;automatic (6 speeds tiptronic) gearshift
                    </option>
                    <option value="T7">&nbsp;&nbsp;automatic (7 speeds tiptronic) gearshift
                    </option>
                    <option value="T8">&nbsp;&nbsp;automatic (8 speeds tiptronic) gearshift
                    </option>
                    <option value="T9">&nbsp;&nbsp;automatic (9 speeds tiptronic) gearshift
                    </option>
                </select>
            </p>
            <p>
                <label name="powerLabel" id="powerLabel">Power: </label>
                <input type="text" name="power" id="power" required />&nbsp;cm³
            </p>
            <p>
                <label name="manufactDateLabel" id="manufactDateLabel">Manufact date: </label>
                <input type="date" name="manufactDate" id="manufactDate" required />
            </p>
            <p>
                <label name="milesLabel" id="milesLabel">Mileage: </label>
                <input type="text" name="miles" id="miles" value="" required>&nbsp;km
            </p>
            <p>
                <label name="typeLabel" id="typeLabel">Type: </label>
                <select name="type" id="type" required>
                    <option value="">Choose!</option>
                    <option value="pickup">Pickup</option>
                    <option value="cross-country">Cross-Country</option>
                    <option value="buggy">Buggy</option>
                    <option value="cabrio">Cabrio</option>
                    <option value="coupe">Coupe</option>
                    <option value="hot-rod">Hot rod</option>
                    <option value="minivan">Minivan</option>
                    <option value="station-wagon">Station wagon</option>
                    <option value="mopedcar">Mopedcar</option>
                    <option value="sedan">Sedan</option>
                    <option value="sport">Sport</option>
                    <option value="crossover">Crossover</option>
                </select>
            </p>
            <p>
                <label name="doorNrLabel" id="doorNrLabel">Door number: </label>
                <select name="doorNr" id="doorNr" required>
                    <option value="">---</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </p>
            <p>
                <label name="colorLabel" id="colorLabel">Color: </label>
                <select name="color" id="color" required>
                    <option value="">Choose!</option>
                    <option value="brown">brown</option>
                    <option value="darkbrown">&nbsp;&nbsp;dark brown</option>
                    <option value="lightbrown">&nbsp;&nbsp;light brown</option>
                    <option value="beige">beige</option>
                    <option value="cardinal-red">cardinal red</option>
                    <option value="burgundy">burgundy</option>
                    <option value="silver">silver</option>
                    <option value="white">white</option>
                    <option value="offwhite">&nbsp;&nbsp;off white</option>
                    <option value="black">black</option>
                    <option value="sand">sand</option>
                    <option value="violet">violet</option>
                    <option value="blue">blue</option>
                    <option value="violetblue">&nbsp;&nbsp;violetblue</option>
                    <option value="oceanblue">&nbsp;&nbsp;ocean blue</option>
                    <option value="darkblue">&nbsp;&nbsp;dark blue</option>
                    <option value="lightblue">&nbsp;&nbsp;light blue</option>
                    <option value="purple">purple</option>
                    <option value="orange">orange</option>
                    <option value="mustard">mustard</option>
                    <option value="champagne">champagne</option>
                    <option value="red">red</option>
                    <option value="pink">pink</option>
                    <option value="yellow">yellow</option>
                    <option value="gold">&nbsp;&nbsp;gold</option>
                    <option value="lemonyellow">&nbsp;&nbsp;lemon yellow</option>
                    <option value="grey">grey</option>
                    <option value="darkgrey">&nbsp;&nbsp;dark grey</option>
                    <option value="lightgrey">&nbsp;&nbsp;light grey</option>
                    <option value="camouflage">camouflage</option>
                    <option value="turqiose">turqoise</option>
                    <option value="butter">butter</option>
                    <option value="green">green</option>
                    <option value="oilgreen">&nbsp;&nbsp;oil green</option>
                    <option value="darkgreen">&nbsp;&nbsp;dark green</option>
                    <option value="lightgreen">&nbsp;&nbsp;light green</option>
                </select></p>
            <p>
                <label name="cityLabel" id="cityLabel">City: </label>
                <input type="text" name="city" id="city" value="" required>
            </p>
            <p>
                <label name="priceLabel" id="priceLabel">Price:</label>
                <input type="text" name="price" id="price" value="" required>&nbsp;&euro;
            </p>
            <p>
                <label name="uploadTimeLabel" id="uploadTimeLabel">Upload date: </label>
                <input type="date" name="uploadTime" id="uploadTime" required>
            </p>
            <p><input type="submit" id="submitBtn" value="Submit" /></p>
        </form>
    </article>
    <footer>
        Created by &copy; Ferent Edina
    </footer>
</body>

</html>