h1 {
  text-align: center;
}

body {
  background: linear-gradient(45deg, transparent 0%, transparent 57%, #a3958f 100%), 
  linear-gradient(-45deg, #8f5046 0%, #4fc1ff 0.3%, #a3958f 112%, transparent 11%), 
  linear-gradient(-90deg, #4fc1ff 100%, #4fc1ff 65%, transparent 20%);
  text-align: center;
}

article.flexbox {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.flexbox form {
  border: 2px solid black;
  border-radius: 15px 50px 30px 5px;
  padding: 10px;
  background: #9cc2d6;
}

.flexbox label {
  width: 200px;
  margin-left: 5px;
  display: inline-flex;
}

input[type="text"], input[type="date"], input[type="file"], input[type="number"],
input[type="password"] {
  width: 40%;
  border: 1px solid #333;
  box-sizing: border-box;
  border-radius: 15px 50px 30px 5px;
  height: 30px;
}

input:valid {
  box-shadow: 0 0 5px 1px green;
}

input:focus:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:invalid:not(:focus) {
  box-shadow: 0 0 5px 1px red;
}

select {
  width: 40%;
  border: 1px solid #333;
  box-sizing: border-box;
  border-radius: 15px 50px 30px 5px;
  height: 30px;
}

input[type="submit"] {
  padding: 8px;
  border-radius: 12px;
  font-size: 16px;
}

footer {
  right: 0;
  bottom: 10px;
  left: 0;
  width: 800px;
  margin: auto;
  font-size: 12px;
  padding-top: 20px;
  clear: both;
  text-align: center;
}

button {
  padding: 8px;
  border-radius: 12px;
  font-size: 16px;
}

code {
  font-size: 125%;
}

td:last-child {
  font-style: italic;
}

table, th, td {
  border-collapse: collapse;
  border: 2px solid #333;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

/*header*/
.nav {
	background-color: white;
	color: black;
	padding-top: 1em;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

.login{margin-left:auto;display:flex;}
.login input{margin-left:10px;}

.login form{display:flex;flex-wrap:wrap;align-items:center;}
.login input{background:#eee;color:#333;border:none;padding:5px;}

.logout{float:right}
.logout input{margin-right:10px;}

